<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" style='margin-left:10px;' href="/">qcha.es</a>
            <p class='pull-right'>
                <form id='topform' action='/buscar/0/' method='get'>
                <input id='topsearch' name='b' type='search' value='buscar...'>
                </form>
            </p>
            <ul class="nav" style='left:50%;'>
                <li><a href='/definir/x' class="btn primary">Nueva Palabra</a></li>
                <li> &nbsp;</li>
                <li><a href='/random' class="btn success">Aleatorio</a></li>
            </ul>
        </div>
    </div>
</div>
