{% extends 'base.html' %}
{% block title %} Q cha es {% if entry is defined %}{{ entry.name }}{% else %}{{ word }}{% endif %}?{% endblock %}
{% block extra_style %}
.modal {width: 600px;word-wrap:break-word;}
.modal-footer {padding-top:5px;padding-bottom:10px;margin-bottom:10px;background:#fff;height:5px;}
pre {margin:0;}
{% endblock %}

{% block extra_scripts %}
$(document).ready(function() {
    var a = $('.modal-body');
    $.each(a,function(i,b){
      if ($(b).html() != " "){
        $(b).html($(b).html().replace(/[\*]{1}([a-zA-Z0-9_\sáéíóúñÁÉÍÓÚÑ]+)[\*]{1}/g,"<a href='/$1' class='interlink'>$1</a>"))
      }
    });
});
{% endblock %}

{% block content %}
<div class='row'>
    <div class='span12 offset4'>

    {% if entry is defined %}
        <h1>
        Que cha' es <i>{{ entry.name|capitalize }}</i>?
        </h1>
        {% from "_definition.html" import render_definition %}
        {% for def in definitions %}
            {{ render_definition(def,entry.name,'word') }}<br>
        {% endfor %}
<a href="/definir/{{ entry.name }}" class="btn large danger">Define {{ entry.name|capitalize}}</a>
<a href="/definir/x" class="btn large primary">Otra palabra</a>
    {% else %}
        <h1>
        Que cha' es <i>{{ word|capitalize }}</i>?
        <small> - <a href='/definir/{{ word }}' class="btn large danger">Def&iacute;nela t&uacute;</a></small>
        </h1>
        No tenemos una definici&oacute;n para {{ word }}.
        <a href='/definir/{{ word }}'>Agrega una.</a>
    {% endif %}


    </div>

</div>
{% endblock %}
